# **DESAFÍO Nº1: ESTADÍSTICAS DESCRIPTIVAS Y PROBABILIDADES (PARTE I)**
### **Módulo 4: Análisis Estadístico con Python**
#### *Carrera Data Science - G-68 - Desafio Latam*
#### Estudiante: Felipe Leal Arancibia

En este desafío validaremos nuestros conocimientos de estadística descriptiva aprendidos en la sesión. Para lograrlo, necesitarás aplicar lo aprendido, analizando un set de datos asociados a los ingresos obtenidos por la población en base de a la información demográfica entregada en el archivo ds_salaries.csv.

Lee todo el documento antes de comenzar el desarrollo individual, para asegurarte de tener el máximo de puntaje y enfocar bien los esfuerzos. 

Tiempo asociado: 1 hora cronológica

## Descripción

#### El conjunto de datos contiene un informe salarial fabricado en el que puedes realizar análisis para tratar de estimar el salario basado en las condiciones dadas.
(...)
Se busca realizar un análisis estadístico de estos salarios, considerando:

#### 1. El promedio general de los salarios, desviación estándar quintiles y rango. (hint: escoge la columna adecuada para comparar)

In [1]:
# Se importan librerías para explorar bbdd en cvs
import pandas as pd
import numpy as np

In [4]:
# Se cargan los datos de archivo

salarios = pd.read_csv('ds_salaries.csv')
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [9]:
# Se exploran tipo de datos y cómo se presentan en concreto
salarios.head(2)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S

In [17]:
# Media de salarios en dólares

salarios_promedio = round((salarios['salary_in_usd'].mean()),2)

f'La media de salario en dólares es de: {salarios_promedio}'

'La media de salario en dólares es de: 137570.39'

In [12]:
# Desviación Estándar en quintiles

# 1º --> Se definen quintiles

# 2º --> Se saca la varianza por cada quintil

# 3º --> Se saca desviación estándar por cada quintil

# Crear función para ello? Asgignaciòn de valores por cada quintil, de acuerdo a iteraciòn

In [15]:
# Rango

salarios_rango = round((salarios['salary_in_usd'].max()) - (salarios['salary_in_usd'].min()), 2)

f'El rango de salarios, en USD, es de: {salarios_rango}'

'El rango de salarios, en USD, es de: 444868'

-
-
-
___0___o___
-
-
-

#### 2. Una comparación entre los salarios agrupados por 3 diferentes categorías a tu elección. ¿Para cuál de ellas las medidas de tendencia central son más representativas? ¿Para cuál son menos representativas? Explica.

-
-
-
___0___o___
-
-
-

#### 3. ¿Qué cargos reciben mejores sueldos en las empresas con sede en Estados Unidos?

-
-
-
___0___o___
-
-
-

-
-
-
___0_FiN__o___
-
-
-

### Requerimientos
Dentro del archivo de Jupyter Notebook debes ir ejecutando las siguientes acciones y explicar lo que estás haciendo. Debes considerar los siguientes aspectos.

1. Calcular los indicadores estadísticos solicitados, sobre columnas específicas. (3 Puntos)

2. Calcular indicadores estadísticos, agrupando y filtrando los 
valores (3 Puntos)

3. Interpretar los indicadores estadísticos en cada caso, considerando medidas de tendencia central y dispersión.(4 Puntos)