# **DESAFÍO Nº4: TIPOS Y ESTRUCTURAS DE DATOS (PARTE II)**
### **Módulo 3: Python para análisis de datos**
#### *Carrera Data Science - G-68 - Desafio Latam*
#### Estudiante: Felipe Leal Arancibia

Para desarrollar este desafío necesitarás el archivo resumen_resultados_astronautas.csv

● El IMC es una medida importante que nos ayuda a determinar si una persona tiene un peso saludable para poder ser un astronauta. Para calcularlo se utiliza la fórmula:

        IMC = m / h*h

Donde m corresponde al peso del astronauta en kilogramos, y h su estatura en metros

El rendimiento en las diferentes evaluaciones permitirá también aceptar o rechazar a los postulantes. Para ello:

1. Crea un DataFrame con el archivo entregado.
2. Crea la columna "IMC" usando la fórmula entregada.
3. Crea la columna "promedio_evaluaciones" con el promedio de las 4 columnas  de evaluaciones. Si el IMC está entre 18.5 y 24.9, entonces el candidato tendrá un IMC adecuado para ser astronauta. Filtra el DataFrame para obtener solo aquellas filas donde el IMC esté dentro de los límites entregados.
4. El promedio de las 4 evaluaciones debe ser mayor o igual a 87. Filtra el DataFrame resultante y agrega esta condición al filtro aplicado en el paso anterior.
5. Reinicia el índice del DataFrame resultante.
6. Modifica el valor de la columna "califica", para que diga "Si" en todas las filas del DataFrame resultante.
7. Exporta el DataFrame resultante a un archivo .csv separado por comas con el nombre "astronautas_calificados.csv".

### 1. Crea un Dataframe con el archivo entregado

In [8]:

import pandas as pd

astronautas = pd.read_csv('resumen_resultados_astronautas.csv')

type(astronautas)  # Se confirma que es un DataFrame

pandas.core.frame.DataFrame

In [11]:
astronautas.index

RangeIndex(start=0, stop=32, step=1)

In [13]:
astronautas.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

### 2. Crea la columna "IMC" usando la fórmula entregada.

In [16]:
# Fórmula: IMC = m / h*h

astronautas["IMC"] = round(astronautas["peso"] / ((astronautas["altura"] / 100)**2), 1)

In [17]:
astronautas.head()

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.1
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,24.4
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,23.4
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.2
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.7

### 3. Crea la columna "promedio_evaluaciones" con el promedio de las 4 columnas  de evaluaciones. Si el IMC está entre 18.5 y 24.9, entonces el candidato tendrá un IMC adecuado para ser astronauta. Filtra el DataFrame para obtener solo aquellas filas donde el IMC esté dentro de los límites entregados.

In [27]:
astronautas["Promedio_evaluaciones"] = round((astronautas[["evaluacion_fisica", "evaluacion_psicologica", "evaluacion_adaptativa", "evaluacion_medica"]].mean(axis=1)),1)

astronautas.columns

Index(['nombre', 'edad', 'peso', 'altura', 'evaluacion_fisica',
       'evaluacion_psicologica', 'evaluacion_adaptativa', 'evaluacion_medica',
       'anos_experiencia', 'califica', 'IMC', 'Promedio_evaluaciones'],
      dtype='object')

In [38]:
imc_adecuado = astronautas.query("IMC >= 18.5 and IMC <= 24.9 ")

imc_adecuado

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,Promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.1,87.0
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,24.4,86.2
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,23.4,86.5
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.2,89.5
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.7,87.2
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No,22.1,84.8
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.5,88.0
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.8,89.8
9,María José Franco,29,70,175,87,90,80,89,2,No,22.9,86.5
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si,22.3,86.0
11,Alberto Graciani,28,62,163,81,93,77,85,5,No,23.3,84.0
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.4,89.5
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.8,89.2
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si,23.7,86.8
15,Pablo Capmany,29,69,171,82,94,80,88,4,No,23.6,86.0
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.2,87.2
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No,22.6,84.0
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.1,89.8
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si,19.5,85.2
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si,24.7,84.2
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.4,90.5
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si,23.5,85.8
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No,22.2,86.5
27,Sophie González,36,75,176,85,82,84,80,7,No,24.2,82.8
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.2,91.5
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.0,90.0
30,Clara Arias,44,63,162,77,87,88,84,11,No,24.0,84.0
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si,20.5,84.2

In [42]:
fuera_de_rango = astronautas.query("IMC <= 18.5 or IMC >= 24.9 ")

fuera_de_rango

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,Promedio_evaluaciones
7,Perla Alcocer,30,71,168,86,92,82,88,3,No,25.2,87.0
19,José París,40,68,163,78,85,85,77,8,No,25.6,81.2
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No,29.7,86.0
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si,25.5,87.0

### 4. El promedio de las 4 evaluaciones debe ser mayor o igual a 87. Filtra el DataFrame resultante y agrega esta condición al filtro aplicado en el paso anterior.

In [45]:
imc_adecuado.query("Promedio_evaluaciones >= 87", inplace=True)

/tmp/ipykernel_136676/3721452150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imc_adecuado.query("Promedio_evaluaciones >= 87", inplace=True)

In [46]:
imc_adecuado

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,Promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.1,87.0
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.2,89.5
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.7,87.2
6,María Juderías,28,78,182,88,85,87,92,5,Si,23.5,88.0
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.8,89.8
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.4,89.5
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.8,89.2
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.2,87.2
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.1,89.8
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.4,90.5
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.2,91.5
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.0,90.0

### 5. Reinicia el índice del DataFrame resultante.

In [47]:
astronautas_calificados = imc_adecuado.reset_index(drop=True)

astronautas_calificados

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,Promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.1,87.0
1,Valentina Tasis,30,65,175,90,91,85,92,2,No,21.2,89.5
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.7,87.2
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.5,88.0
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.8,89.8
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.4,89.5
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,23.8,89.2
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,22.2,87.2
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.1,89.8
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.4,90.5
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.2,91.5
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.0,90.0

### 6. Modifica el valor de la columna "califica", para que diga "Si" en todas las filas del DataFrame resultante.

In [54]:
astronautas_calificados["califica"] = astronautas_calificados["califica"].replace(["No"], "Si")

astronautas_calificados

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,IMC,Promedio_evaluaciones
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,23.1,87.0
1,Valentina Tasis,30,65,175,90,91,85,92,2,Si,21.2,89.5
2,Regina Cicerón,31,76,183,89,87,83,90,7,Si,22.7,87.2
3,María Juderías,28,78,182,88,85,87,92,5,Si,23.5,88.0
4,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,21.8,89.8
5,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,22.4,89.5
6,Cristóbal Miralles,31,72,174,88,91,86,92,6,Si,23.8,89.2
7,Nicolás Cambeiro,29,68,175,88,90,81,90,2,Si,22.2,87.2
8,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,22.1,89.8
9,Christopher Berganza,23,70,173,92,93,92,85,1,Si,23.4,90.5
10,Alexia Gaos,21,69,169,93,94,93,86,0,Si,24.2,91.5
11,Fátima Varela,33,73,182,91,90,91,88,5,Si,22.0,90.0

### 7. Exporta el DataFrame resultante a un archivo .csv separado por comas con el nombre "astronautas_calificados.csv".

In [57]:
astronautas_calificados.to_csv("astronautas_calificados.csv", index=False, sep=",")

### ____o_O_

### Saludos y gracias!

### ___________O_o_