# **DESAFÍO Nº6: MANIPULACIÓN Y TRANSFORMACIÓN DE DATOS (PARTE II)**
### **Módulo 3: Python para análisis de datos**
#### *Carrera Data Science - G-68 - Desafio Latam*
#### Estudiante: Felipe Leal Arancibia

La empresa ADL se dedica a la venta de productos a nivel regional en los Estados Unidos, con equipos de ventas que operan en diferentes estados. La compañía ha establecido un sistema de comisiones para incentivar a sus equipos de ventas a preferir la venta de productos de alto margen antes que los de bajo margen de utilidad.

Como Analista de Datos, le solicitan analizar información sobre las ventas realizadas por los equipos de ventas de ADL, incluyendo detalles sobre los productos vendidos, los clientes, las fechas de los pedidos y los plazos de entrega.

Para resolver este desafío deberás cargar datos desde Hojas de Excel del archivo US_Regional_Sales_Data.xlsx. En base a esto, debe generar una visualización de datos como la que se muestra en las hojas Reporte1 y Reporte2 del archivo reporte.xlsx. 

Para cumplir con lo solicitado, puedes aplicar los siguientes pasos:


##### **1. Carga los datos de cada pestaña del archivo US_Regional_Sales_Data.xlsx en un DataFrame independiente. (hint: Puedes obtener los nombres de las hojas usando pd.ExcelFile(archivo).sheet_names)**

In [36]:
import pandas as pd
import numpy as np

# Se asigna una variable con el archivo excel a ser manipulado
archivo = 'US_Regional_Sales_Data.xlsx'

In [37]:
# Despuès d ela carga inicial, se llama al excel para ver todos los nombres de las hojas que contiene
excel = pd.ExcelFile(archivo)
obtener_nombres_hojas = excel.sheet_names
type(obtener_nombres_hojas)
hojas = obtener_nombres_hojas
hojas

['Sales Orders Sheet',
 'Customers Sheet',
 'Store Locations Sheet',
 'Products Sheet',
 'Sales Team Sheet']

In [61]:
# Se crea un DataFrame independiente POR HOJA EXCEL.

df_sales_orders_sheet = pd.read_excel(archivo, sheet_name=hojas[0])
df_customers_sheet = pd.read_excel(archivo, sheet_name=hojas[1])
df_store_locations_sheet = pd.read_excel(archivo, sheet_name=hojas[2])
df_products_sheet = pd.read_excel(archivo, sheet_name=hojas[3])
df_sales_team_sheet = pd.read_excel(archivo, sheet_name=hojas[4])

In [62]:
# Chequeo de columnas dataframe 1
df_sales_orders_sheet.columns

Index(['OrderNumber', 'Sales Channel', 'WarehouseCode', 'ProcuredDate',
       'OrderDate', 'ShipDate', 'DeliveryDate', 'CurrencyCode', '_SalesTeamID',
       '_CustomerID', '_StoreID', '_ProductID', 'Order Quantity',
       'Discount Applied', 'Unit Price', 'Unit Cost'],
      dtype='object')

In [63]:
# Chequeo de columnas dataframe 2
df_customers_sheet.columns

Index(['_CustomerID', 'Customer Names'], dtype='object')

In [64]:
# Chequeo de columnas dataframe 3
df_store_locations_sheet.columns

Index(['_StoreID', 'City Name', 'County', 'StateCode', 'State', 'Type',
       'Latitude', 'Longitude', 'AreaCode', 'Population', 'Household Income',
       'Median Income', 'Land Area', 'Water Area', 'Time Zone'],
      dtype='object')

In [65]:
# Chequeo de columnas dataframe 4
df_products_sheet.columns

Index(['_ProductID', 'Product Name'], dtype='object')

In [66]:
# Chequeo de columnas dataframe 5
df_sales_team_sheet.columns

Index(['_SalesTeamID', 'Sales Team', 'Region'], dtype='object')


.
.
.
## __________0____o__________
.
.
.

##### **2. Cruza todos los DataFrames usando validación many_to_one, y guarda el resultado en una nueva variable llamada df_base.**

In [88]:
# Se comienzan a cruzar los Dataframes y a unir de forma progresiva en la variable df_base

# se crea df_base con 1) df_sales_orders_sheet y 2) df_customers_sheet
df_base = pd.merge(df_sales_orders_sheet, df_customers_sheet, on='_CustomerID', how='outer', validate='many_to_one')
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Price        7991 non-null   float64
 15  Unit Cost         7991 non-null   float64
 16  Customer Names    7991 non-null   object
dtypes: datetime64[ns](4), float64(3), int64(5), object(5)
memory usage: 1.0+ MB

In [89]:
# se agrega a df_base creado anteriormente el dataframe 3) df_store_locations_sheet
df_base = pd.merge(df_base, df_store_locations_sheet, on='_StoreID', how='outer', validate='many_to_one')
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Price        7991 non-null   float64
 15  Unit Cost         7991 non-null   float64
 16  Customer Names    7991 non-null   object
 17  City Name         7991 non-null   object
 18  County            7991 non-null   object
 19  StateCode         7991 non-null   object
 20  State             7991 non-null   object
 21  Type              7991 non-null   object
 22  Latitude          7991 non-null   float64
 23  Longitude         7991 non-null   float64
 24  AreaCode          7991 non-null   int64
 25  Population        7991 non-null   int64
 26  Household Income  7991 non-null   int64
 27  Median Income     7991 non-null   int64
 28  Land Area         7991 non-null   int64
 29  Water Area        7991 non-null   int64
 30  Time Zone         7991 non-null   object
dtypes: datetime64[ns](4), float64(5), int64(11), object(11)
memory usage: 1.9+ MB

In [90]:
# se agrega a df_base el dataframe 4) df_products_sheet
df_base = pd.merge(df_base, df_products_sheet, on='_ProductID', how='outer', validate='many_to_one')
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Price        7991 non-null   float64
 15  Unit Cost         7991 non-null   float64
 16  Customer Names    7991 non-null   object
 17  City Name         7991 non-null   object
 18  County            7991 non-null   object
 19  StateCode         7991 non-null   object
 20  State             7991 non-null   object
 21  Type              7991 non-null   object
 22  Latitude          7991 non-null   float64
 23  Longitude         7991 non-null   float64
 24  AreaCode          7991 non-null   int64
 25  Population        7991 non-null   int64
 26  Household Income  7991 non-null   int64
 27  Median Income     7991 non-null   int64
 28  Land Area         7991 non-null   int64
 29  Water Area        7991 non-null   int64
 30  Time Zone         7991 non-null   object
 31  Product Name      7991 non-null   object
dtypes: datetime64[ns](4), float64(5), int64(11), object(12)
memory usage: 2.0+ MB

In [91]:
# se agrega a df_base el dataframe 5) df_sales_team_sheet
df_base = pd.merge(df_base, df_sales_team_sheet, on='_SalesTeamID', how='outer', validate='many_to_one')
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   datetime64[ns]
 4   OrderDate         7991 non-null   datetime64[ns]
 5   ShipDate          7991 non-null   datetime64[ns]
 6   DeliveryDate      7991 non-null   datetime64[ns]
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Price        7991 non-null   float64
 15  Unit Cost         7991 non-null   float64
 16  Customer Names    7991 non-null   object
 17  City Name         7991 non-null   object
 18  County            7991 non-null   object
 19  StateCode         7991 non-null   object
 20  State             7991 non-null   object
 21  Type              7991 non-null   object
 22  Latitude          7991 non-null   float64
 23  Longitude         7991 non-null   float64
 24  AreaCode          7991 non-null   int64
 25  Population        7991 non-null   int64
 26  Household Income  7991 non-null   int64
 27  Median Income     7991 non-null   int64
 28  Land Area         7991 non-null   int64
 29  Water Area        7991 non-null   int64
 30  Time Zone         7991 non-null   object
 31  Product Name      7991 non-null   object
 32  Sales Team        7991 non-null   object
 33  Region            7991 non-null   object
dtypes: datetime64[ns](4), float64(5), int64(11), object(14)
memory usage: 2.1+ MB


.
.
.
## __________0____o__________
.
.
.

##### **3. Agrega las siguientes columnas a df_ base:**

Columna-------------------Cálculo

ProcurementDays-----------OrderDate - ProcuredDate

ShippingDays--------------ShipDate - OrderDate

DeliveryDays--------------DeliveryDate - ShipDate

CustomerDays--------------ShippingDays + DeliveryDays

##### **hint: Asegúrate de que las columnas sean de tipo datetime.**

In [93]:
# chequear las columnas
df_base.columns

Index(['OrderNumber', 'Sales Channel', 'WarehouseCode', 'ProcuredDate',
       'OrderDate', 'ShipDate', 'DeliveryDate', 'CurrencyCode', '_SalesTeamID',
       '_CustomerID', '_StoreID', '_ProductID', 'Order Quantity',
       'Discount Applied', 'Unit Price', 'Unit Cost', 'Customer Names',
       'City Name', 'County', 'StateCode', 'State', 'Type', 'Latitude',
       'Longitude', 'AreaCode', 'Population', 'Household Income',
       'Median Income', 'Land Area', 'Water Area', 'Time Zone', 'Product Name',
       'Sales Team', 'Region'],
      dtype='object')

In [97]:
# Crear nueva columna y asignarle el resultado de una operación: ProcurementDays = OrderDate - ProcuredDate

df_base['ProcurementDays'] = pd.to_datetime(df_base['OrderDate']) - pd.to_datetime(df_base['ProcuredDate'])

df_base['ProcurementDays'].head()

0   151 days
1   130 days
2   113 days
3   152 days
4   122 days
Name: ProcurementDays, dtype: timedelta64[ns]

In [98]:
# Segunda columna creada: ShippingDays = ShipDate - OrderDate

df_base['ShippingDays'] = pd.to_datetime(df_base['ShipDate']) - pd.to_datetime(df_base['OrderDate'])

df_base['ShippingDays'].head()

0   14 days
1   19 days
2    2 days
3    6 days
4    8 days
Name: ShippingDays, dtype: timedelta64[ns]

In [99]:
# Tercera columna creada: DeliveryDays = DeliveryDate - ShipDate

df_base['DeliveryDays'] = pd.to_datetime(df_base['DeliveryDate']) - pd.to_datetime(df_base['ShipDate'])

df_base['DeliveryDays'].head()

0   5 days
1   5 days
2   6 days
3   3 days
4   4 days
Name: DeliveryDays, dtype: timedelta64[ns]

In [101]:
# Cuarta columna creada, a partir de las dos creadas anteriormente: CustomerDays = ShippingDays + DeliveryDays

df_base['CustomerDays'] = df_base['ShippingDays'] - df_base['DeliveryDays']

df_base['CustomerDays'].head()

0    9 days
1   14 days
2   -4 days
3    3 days
4    4 days
Name: CustomerDays, dtype: timedelta64[ns]

In [103]:
# Chequeo las 4 nuevas columnas creadas.
df_base.columns

Index(['OrderNumber', 'Sales Channel', 'WarehouseCode', 'ProcuredDate',
       'OrderDate', 'ShipDate', 'DeliveryDate', 'CurrencyCode', '_SalesTeamID',
       '_CustomerID', '_StoreID', '_ProductID', 'Order Quantity',
       'Discount Applied', 'Unit Price', 'Unit Cost', 'Customer Names',
       'City Name', 'County', 'StateCode', 'State', 'Type', 'Latitude',
       'Longitude', 'AreaCode', 'Population', 'Household Income',
       'Median Income', 'Land Area', 'Water Area', 'Time Zone', 'Product Name',
       'Sales Team', 'Region', 'ProcurementDays', 'ShippingDays',
       'DeliveryDays', 'CustomerDays'],
      dtype='object')


.
.
.
## __________0____o__________
.
.
.


##### **4. Agrega una nueva columna discreta al df_base, con el nombre CustomerDaysInterval que clasifique los valores de la columna CustomerDays en los siguientes intervalos:**

○ 0 to 15 days

○ 15 to 30 days

○ 30 to 45 days

○ 45 to 60 days

○ 60 to 75 days

○ 75 to 90 days


##### **hint: Utiliza pd.cut con estas etiquetas de Intervalo. Puedes convertir previamente la columna CustomerDays a valores numéricos con pd.to_numeric(). Considera que en este caso, el resultado es entregado en formato 10\*\*9 segundos, por lo que debes dividir el resultado por este valor**

In [104]:
# Reconocimeitno de datos de columna utilizada parea càlculo
df_base['CustomerDays'].head()

0    9 days
1   14 days
2   -4 days
3    3 days
4    4 days
Name: CustomerDays, dtype: timedelta64[ns]

In [110]:
# Se crea un respaldo de nueva columna para operar convertida en numeric, y luego dividida en cantidad de segundos (10**9)
df_base['CustomerDays_Numerico'] = pd.to_numeric(df_base['CustomerDays'])/10**9

df_base['CustomerDays_Numerico'].head()

0     777600.0
1    1209600.0
2    -345600.0
3     259200.0
4     345600.0
Name: CustomerDays_Numerico, dtype: float64

In [187]:
# Discretizar datos en intervalos y etiquetas.
# Dado que cada día contiene 86400 segundos, se multiplica esa cantidad por la cantidad de días de los intervalos dados.

intervalos = [0, (86400*14), (86400*29), (86400*44), (86400*59), (86400*74), (86400*89)] 
etiquetas =  ['0 to 15 days',
              '15 to 30 days', 
              '30 to 45 days', 
              '45 to 60 days', 
              '60 to 75 days', 
              '75 to 90 days']

In [188]:
#  Se crea columna discreta 'CustomerDaysInterval' para clasificar los valores entregados

df_base['CustomerDaysInterval'] = pd.cut(df_base['CustomerDays_Numerico'], bins=intervalos, labels=etiquetas)

In [189]:
# chequear
df_base['CustomerDaysInterval'].tail()

7986    15 to 30 days
7987    15 to 30 days
7988     0 to 15 days
7989              NaN
7990    15 to 30 days
Name: CustomerDaysInterval, dtype: category
Categories (6, object): ['0 to 15 days' < '15 to 30 days' < '30 to 45 days' < '45 to 60 days' < '60 to 75 days' < '75 to 90 days']


.
.
.
## __________0____o__________
.
.
.


##### **5. Utiliza una tabla pivote para mostrar el conteo de órdenes agrupando por Sales Team en las filas y CustomerDaysInterval en las columnas. Este reporte debe cuadrar con los datos de la pestaña Reporte1 del archivo reportes.xlsx**

In [119]:
#chequear fila y columna solicitada ("Sales Team" y "CustomerDaysInterval", respectivamente)

df_base.columns

Index(['OrderNumber', 'Sales Channel', 'WarehouseCode', 'ProcuredDate',
       'OrderDate', 'ShipDate', 'DeliveryDate', 'CurrencyCode', '_SalesTeamID',
       '_CustomerID', '_StoreID', '_ProductID', 'Order Quantity',
       'Discount Applied', 'Unit Price', 'Unit Cost', 'Customer Names',
       'City Name', 'County', 'StateCode', 'State', 'Type', 'Latitude',
       'Longitude', 'AreaCode', 'Population', 'Household Income',
       'Median Income', 'Land Area', 'Water Area', 'Time Zone', 'Product Name',
       'Sales Team', 'Region', 'ProcurementDays', 'ShippingDays',
       'DeliveryDays', 'CustomerDays', 'CustomerDays_Numerico',
       'CustomerDaysInterval'],
      dtype='object')

In [191]:
# Se crea tabla pivote, usando sintaxis para refereciar a filas y columnas

tabla_pivote = pd.pivot_table(df_base, index='Sales Team', values='Order Quantity', columns='CustomerDaysInterval', aggfunc='count', fill_value = 0, margins=True)

tabla_pivote

CustomerDaysInterval,0 to 15 days,15 to 30 days,30 to 45 days,45 to 60 days,60 to 75 days,75 to 90 days,All
Sales Team,,,,,,,
Adam Hernandez,160,105,0,0,0,0,265
Anthony Berry,138,108,0,0,0,0,246
Anthony Torres,143,106,0,0,0,0,249
Carl Nguyen,165,100,0,0,0,0,265
Carlos Miller,125,79,0,0,0,0,204
Chris Armstrong,159,89,0,0,0,0,248
Donald Reynolds,145,100,0,0,0,0,245
Douglas Tucker,148,85,0,0,0,0,233
Frank Brown,137,90,0,0,0,0,227
George Lewis,152,105,0,0,0,0,257
Jerry Green,132,119,0,0,0,0,251
Joe Price,126,93,0,0,0,0,219
Jonathan Hawkins,139,83,0,0,0,0,222
Joshua Bennett,134,85,0,0,0,0,219
Joshua Little,140,100,0,0,0,0,240
Joshua Ryan,149,88,0,0,0,0,237
Keith Griffin,127,68,0,0,0,0,195
Nicholas Cunningham,154,83,0,0,0,0,237
Patrick Graham,142,76,0,0,0,0,218
Paul Holmes,137,88,0,0,0,0,225
Roger Alexander,144,91,0,0,0,0,235
Roy Rice,146,100,0,0,0,0,246
Samuel Fowler,160,80,0,0,0,0,240
Shawn Cook,160,103,0,0,0,0,263
Shawn Torres,144,83,0,0,0,0,227
Shawn Wallace,151,109,0,0,0,0,260
Stephen Payne,153,75,0,0,0,0,228
Todd Roberts,170,102,0,0,0,0,272
All,4080,2593,0,0,0,0,6673

In [180]:
# Se importa excel para chequear similitudes con tabla pivote.

# Se confirma que no cuadra. Queda pendiente. 




df_reportes = pd.read_excel('reportes.xlsx', sheet_name='Reporte1')

df_reportes

,Sales Team,0 to 15 days,15 to 30 days,30 to 45 days,45 to 60 days,60 to 75 days,75 to 90 days,All
0,Adam Hernandez,81,179,42,0,0,0,302
1,Anthony Berry,76,181,41,0,0,0,298
2,Anthony Torres,81,162,45,0,0,0,288
3,Carl Nguyen,96,178,40,0,0,0,314
4,Carlos Miller,65,148,34,0,0,0,247
5,Chris Armstrong,92,156,44,0,0,0,292
6,Donald Reynolds,97,163,36,0,0,0,296
7,Douglas Tucker,87,145,45,0,0,0,277
8,Frank Brown,85,150,40,0,0,0,275
9,George Lewis,104,169,42,0,0,0,315
10,Jerry Green,85,165,46,0,0,0,296
11,Joe Price,87,138,41,0,0,0,266
12,Jonathan Hawkins,81,143,36,0,0,0,260
13,Joshua Bennett,85,148,32,0,0,0,265
14,Joshua Little,83,165,41,0,0,0,289
15,Joshua Ryan,83,166,36,0,0,0,285
16,Keith Griffin,94,127,25,0,0,0,246
17,Nicholas Cunningham,88,171,34,0,0,0,293
18,Patrick Graham,92,130,37,0,0,0,259
19,Paul Holmes,61,159,41,0,0,0,261
20,Roger Alexander,82,147,42,0,0,0,271
21,Roy Rice,75,166,43,0,0,0,284
22,Samuel Fowler,90,162,44,0,0,0,296
23,Shawn Cook,88,175,40,0,0,0,303
24,Shawn Torres,77,160,37,0,0,0,274
25,Shawn Wallace,95,168,53,0,0,0,316
26,Stephen Payne,97,156,30,0,0,0,283
27,Todd Roberts,113,187,40,0,0,0,340
28,All,2420,4464,1107,0,0,0,7991


.
.
.
## __________0____o__________
.
.
.


##### **6. Agrega la siguiente columna calculada a la base:**
KPI ---------------------------- Cálculo

GrossMargin ---------------------OrderQuantity * (UnitPrice * (1-Discount Applied) - UnitCost)

##### **Visión de Negocio: El margen bruto es un indicador financiero que muestra la diferencia entre los ingresos generados por la venta de un producto o servicio y los costos directos asociados con su producción o adquisición.**


.
.
.
## __________0____o__________
.
.
.

##### **7. En esta parte debes aplicar un porcentaje a la columna GrossMargin, pero ese porcentaje dependerá del intervalo en que se encuentre GrossMargin.**

KPI -----------------------------Cálculo

CommissionsPercentage -----------% de comisión según la tabla de comisiones

##### **hint: Utiliza pd.cut con labels numéricas para que la columna resultante sea de tipo float.**


.
.
.
## __________0____o__________
.
.
.


##### **8. Calcula el monto de la comisión, utilizando la Tabla del Anexo.**

KPI --------------------------------Cálculo

CommissionsAmount ------------------GrossMargin * CommissionsPercentage


.
.
.
## __________0____o__________
.
.
.


##### **9. Calcula la comisión sobre el margen bruto.**

KPI --------------------- Cálculo

NetMargin --------------- GrossMargin-CommissionsAmount


.
.
.
## __________0____o__________
.
.
.


##### **10. Utilizando una tabla pivote, muestra la suma de los valores GrossMargin, NetMargin y CommissionAmount agrupando por Sales Team en las filas. Este reporte debe cuadrar con los datos de la pestaña Reporte2 del archivo reportes.xlsx**

Anexo

Tabla de comisiones


Intervalo --------------------------------- Comisión

GrossMargin entre $0 y $100 --------------- 5%

GrossMargin entre $100 y $1000 ------------ 10%

GrossMargin entre $1000 y $10000----------- 15%

GrossMargin entre $10000 y $100000 -------- 20%


.
.
.
## __________0____o__________
.
.
.